---
layout: layout.liquid
title: AboutPage
---

<h1 class="aboutText">Hi there, I am {% Phillip "Phillip Arthur" %}, lover of tea, cats, and most importantly...space. 
The final frontier, but for me, there is no finality to it, it's infinite, mysterious, 
deadly even, but most importantly, full of adventure. And I was BORN for adventure. 
Follow here for tales of my harrowing quests as I learn more about life around the galaxy, 
travel the cosmos exploring many new and far off planets, and having a jolly good time of it wherever I go.
Not all of it is glamorous though, there are many terrfiying monsters, places, and people to run into, 
but regardless, I do it all for the love of adventure dear reader, and hopefully through my perilous actions
you too will take the plunge and find the soul of adventure within you. Now remember, drink your
required amount of water for the day, tell your parents and friends you love them, and find your FIRE. 
{% Phillip "Phillip Arthur"%}... <strong>logging out.</strong></h1>