---
layout: layout.liquid
title: HomePage
---

<h1 class="indexText">Welcome to the Journal 
Entries of legendary Space voyager {%Phillip "Phillip Arthur"%}. Learn of my exploits <strong>TODAY!</strong></h1>