---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1 class="indexText">Welcome to the Journal Entires of Legendary Space voyager Phillip Arthur. Learn of my exploits <strong>TODAY!</strong></h1>
<img alt="spaceship" src="/images/spaceship.png" width="100" />