<nav>
    <ul>
      <li><a href="/" title="Home">Home</a></li>
      <li><a href="/logEntry1/" title="Log Entry #1">LogEntry #1</a></li>
      <li><a href="/logEntry2/" title="Log Entry #2">LogEntry #2</a></li>
      <li><a href="/aboutPage/" title="About">About</a></li>
    </ul>
</nav>