body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: rgb(19, 19, 92);
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 500px;
    border-radius: 50px;
    background: #212431;
    border: 10px solid rgb(136, 99, 199);
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

 h1 strong {
    background: rgb(166, 135, 219);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 3.5rem;
}

p strong {
    background: rgb(166, 135, 219);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 2.5rem;
}

img.about {
    opacity: 0.5;
}

p {
    color: white;
    background-color: #212431;
    font-size: 1.6rem;
    font-weight: bold;
    padding:10px;
    border-radius: 20px;
    border:10px solid rgb(136, 99, 199);
}

.aboutText {
    padding:10px;
    color:  white;
    font-size: 2rem;
    /*border: 5px solid  rgb(131, 222, 234);  */
    border:5px solid rgb(136, 99, 199);
    border-radius:30px;
    filter: drop-shadow(5, 10, white);
    background-color: #212431;
    font-weight: bold;
}

.indexText{
    font-size: 3rem;
    padding:10px;
}

.purpleShip{
    width:auto;
    height:auto;
}

.footer{
    margin: auto;
    width: 100%;
    display:flex;
    justify-content: center;
}

.footerText{
    background-color: #212431;
    font-size: 3rem;
    color:white;
    border: 10px solid rgb(136, 99, 199); 
    padding-right:20px;
    padding-left: 20px;

}